// GRIDS + STRUCTURE

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1180px;
    display: block;
}

.content-body {
    width: 50%;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
    @media only screen
	and (max-width: 768px),
	(min-device-width: 768px)
	and (max-device-width: 1024px)
	and (orientation: portrait) {
    	width: 70%;
    	margin-left: 5%;
    }
    @media only screen and (max-width: 450px) {
    	width: 90%;
	}

}

.content aside {
	position: absolute;
	width: 37%;
	left: -37%;
	margin-left: -20px;
	padding-right: 20px;
	@media only screen
	and (max-width: 768px),
	(min-device-width: 768px)
	and (max-device-width: 1024px)
	and (orientation: portrait) {
		position: relative;
		width: 100%;
		margin-left: 0;
		padding-right: 0;
		left: 0;
	}
}

//  PHOTO SIZING
.two-thirds {
	width: 150%;
	&.alt {
		margin-left: -50%;
		@media screen and (max-width: 480px) {
			margin-left: 0;
		}
	}
	@media screen and (max-width: 480px) {
		width: 100%;
	}
}

.double {
	width: 200%;
	margin-left: -50%;
}

.margin {
	position: absolute;
	width: 42.9%;
	right: -42.9%;
	&.alt {
		left: -42.9%;
	}
}