/* HTML5BP Stuff */
@import "normalize";
@import "compass/css3";
@import "grids";

/* ====== BASE TYPE ====== */

@include font-face("Mono Social Icons Font", font-files("MonoSocialIconsFont-1.10.woff", "MonoSocialIconsFont-1.10.ttf", "MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont"), "MonoSocialIconsFont-1.10.eot", normal, normal);

.symbol, a.symbol:before {
    font-family: 'Mono Social Icons Font';
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

a.symbol:before {
    content: attr(data-icon);
    margin-right: 0.3em;
    // font-size: 130%;
}


$gothic: "brandon-grotesque-1","brandon-grotesque-2", sans-serif;
$serif: "ff-tisa-web-pro-1","ff-tisa-web-pro-2", palatino, serif;

$base: 18px; 
$base-mobile: 16px;
$line-height: ($base * 1.55);

$size1: ($base - 6px);
$size2: ($base + ($base / 2));

$padding: ($base * 2);

$mobile-space: 30px;

$headerHeight: 60px;

@font-face {
    font-family: 'SocialicoRegular';
    src: url('socialico-webfont.eot');
    src: url('socialico-webfont.eot?#iefix') format('embedded-opentype'),
         url('socialico-webfont.woff') format('woff'),
         url('socialico-webfont.ttf') format('truetype'),
         url('socialico-webfont.svg#SocialicoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

// COLOURS

$lGray: #eee;
$link: #34678B;
$accent: #FF8324;
$orange: #e67e22;

$nav-colour: #f39c12;
$nav-colour-1: #d35400;
$nav-colour-2: $orange;

//  HELPERS

// H5BP STUFF

/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html,body {
    height: 100%;
}
body {
    font-family: $serif;
    font-size: $base;
    line-height: $line-height;
	// -webkit-font-smoothing: antialiased;
    // &.home {
    //     padding-top: 100px;
    // }
}

.blur {
    @include filter(blur(5px));
}
.no-scroll {
    position: fixed;
    left: 0;
    right: 0;
}

/* HEADERS */

// TYPEKIT FADES
.wf-loading {
    h1,h2,h3,p,li,.head {
      opacity: 0;
    }
}
h1,h2,h3,p,li,.head {
  opacity: 1;
  visibility: visible;
  @include transition(opacity 0.24s ease-in-out);
}

h1, h2, h3, h4, h5, h6, h2.post-title, p.title {
    font-family: $gothic;    
    text-transform: uppercase;    
    font-weight: 900;
	text-rendering: optimizeLegibility;
	-moz-font-feature-settings: "kern=1"; 
	-ms-font-feature-settings: "kern" 1;
    margin-top: 0;
}

p {
    margin-top: 0;
}

@media only screen and (max-width: 45em) {
    p,h2 {
        margin-bottom: $base-mobile;
    }
}

h2 {
    line-height: 1.2;
}

h4 {
    line-height: 1;
    margin-bottom: ($base * 2);
}

p.title {
    font-size: $size2;
    @media only screen and (max-width: 30em) {
        font-size: ($base-mobile * 1.5);
    }
}

a, a:visited {
    color: $link;
    text-decoration: none;
}

.italic {
    font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2",palatino,serif;
    text-transform: none;
    font-style: italic;
}

.head {
    position: relative;
    width: 100%;
    text-align: center;
    padding-bottom: 16px;
    background-color: rgba(0,0,0,0.35);
    // background-color: #fff;
    .container {
        position: relative;
    }
    .home & {
        position: absolute;
        top: 0;
        z-index: 1;
    }
    .blog-post & {
        position: absolute;
        top: 0;
        z-index: 1;        
    }
    span {
        font-family: $serif;
        font-size: 0.3em;
        letter-spacing: 2px;
        display: block;
        margin-top: -6px;
    }
    a {
        color: #fff;
        text-decoration: none;
        font-size: 3em;
        @media only screen and (max-width: 36em) {
            font-size: ($base-mobile * 2);
        }
        @media only screen and (max-width: 30em) {
            font-size: ($base-mobile + 4);
        }
        .home & {
            color: #000;
        }
    }
}

a.top-link {
    position: absolute;
    z-index: 99999;
    font-size: $base;
    line-height: 1;
    position: absolute;
    font-weight: 600;
    left: 0;
    line-height: $headerHeight;
    @include opacity(0.5);
    @include transition(opacity 0.25 ease-in-out);
    &:hover {
        @include opacity(1);
    }
}

//  OFFSCREEN BLOG POSTS 

#offNav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -100%;
    width: 100%;
    z-index: 9;
    background: rgba(25,25,25,0.9);
    padding: $headerHeight 0;
    @include transition(all);
    @include transition-duration(0.25s);
    @include transition-timing-function(cubic-bezier(0,1,0.5,1));
    .lt-ie9 & {
        background: #333;
        @include opacity(0.85);
    }
    color: #fff;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    @media only screen and (max-width: 30em) {
        padding: $mobile-space 0;
    }
    a {
        color: #fff;
    }
    // @include transition(transform 0.25 ease-in-out);
    aside {
        float: left;
        width: 30%;
        position: fixed;
        max-width: 350px;
        @media only screen and (max-width: 45em) {
            width: 100%;
            position: static;
        }
    }
    ul {
        margin: 0;
        padding: 0;
        width: 60%;
        float: right;
        @media only screen and (max-width: 45em) {
            width: 100%;
            margin-left: 0;
        }
    }
    li {
        list-style: none;
        margin-left: 0;
        border: 2px solid #fff;
        padding: $padding 15%;
        text-align: center;
        margin-bottom: $padding;
        position: relative;
        overflow-x: hidden;
        @media only screen and (max-width: 45em) {
            padding: ($base-mobile * 2);
            margin-bottom: ($base-mobile * 2);
        }
        &:after {
            content: 'Read more »';
            position: absolute;
            font-weight: 600;
            right: -20%;
            bottom: 0;
            top: 0;
            opacity: 0;
            font-family: $gothic;
            text-transform: uppercase;
            @include rotate(-90deg);
            @include transition(all);
            @include transition-duration(0.25s);
        }
        &:before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            border: 0px solid;
            z-index: -1;
            @include transition(all);
            @include transition-duration(0.25s);
        }
        &:hover {
            &:before {
                border: 5px solid;
            }
            &:after {
                // bottom: 50%;
                right: -15%;
                opacity: 1;
            }
        }
        &:last-child {
            display: none;
        }
        @media only screen and (max-width: 30em) {
            p:last-child {
                margin-bottom: 0;
            }
            &:after {
                display: none;
            }
        }
    }    
    &.open {
        left: 0;
    }
}

// .blur {
//     -webkit-filter: blur(10px);
//     filter: blur(10px);
// }

#b-container {
    height: 100%;
}

aside {
    img {
        max-width: 100%;
    }
}

.profile {
    padding: 0 20px 0 0;
    font-size: 0.75em;
    line-height: 1.5;
    margin: 20px 0;
    @include opacity(0.35);
    @include transition(opacity 0.25s ease-in-out);
    &:hover {
        @include opacity(1);
    }
    img {
        margin-bottom: 20px;
        max-width: 100%;
        @media screen and (max-width: 480px) {
            width: 50%;
            position: relative;
            left: -20%;
            float: left;
        }
    }
    @media only screen
    and (max-width: 768px),
    (min-device-width: 768px)
    and (max-device-width: 1024px)
    and (orientation: portrait) {
        display: none;
    }
    p {
        @media screen and (max-width: 480px) {
            width: 50%;
            float: left;
        }
    }
}

.img-circle {
    @include border-radius(50%);
}

aside.social-links {
    margin: 0;
    top: 0;
    right: 0;
    left: auto;
    position: absolute;
    ul {
        margin: 0;
        padding: 0;
    }
    li {
        display: inline;
    }
    span {
        display: none;
    }
    a{
        @include opacity(0.35);
        font-size: 2em;
        line-height: $headerHeight;
        &:hover {
            @include opacity(1);
        }
    }
    &.social-share {
        position: relative;
        text-align: center;
        width: 100%;
        font-size: 3em;
        margin: 0;
        padding: 0 0 40px 0;
        @media only screen and (max-width: 30em) {
            font-size: ($base-mobile * 1.5);
            padding-bottom: ($base-mobile * 2);
        }
        ul {
            padding: 0;
        }
        a {
            font-size: 1.25em;
            @media only screen and (max-width: 30em) {
                font-size: ($base-mobile * 3);
                margin-bottom: $base-mobile;
            }            
            .js & {
                &:hover {
                    color: #fff;
                }
            }
        }
    }
    @media only screen and (max-width: 30em) {
        h4 {
            margin-bottom: ($base-mobile * 2);
        }
    }    
}

@media only screen and (max-width: 30em) {
    .head .social-links {
        float: right;
    }
    a.top-link {
        top: 35px;
    }
}

// NEW HOMEPAGE

.home-intro {
    -webkit-box-align:center;
    -webkit-box-pack:center;
    display:-webkit-box;
    background: url(../img/mousdale.gif) no-repeat center;
    background-size: cover;
    .home-inner {
        position: relative;
    }
    h1 {
        font-size: 14vw;
        line-height: 0.75; 
        letter-spacing: -10px;
        color: #000;  /* Fallback: assume this color ON TOP of image */
        font-weight: 900;
        color: rgba(0,0,0,0.5);
        // background: url(../img/mousdale.gif) no-repeat center;
        // background-size: 100%;
        // background-attachment: fixed;
        // -webkit-background-clip: text;
        // -webkit-text-fill-color: transparent;
        margin-bottom: ($base*2);
        @media only screen and (min-width: 100em) {
            font-size: 227px;
        }
    }
    .btn {
        position: absolute;
        top: 0;
        right: 2em;
    }
}

.sub-intro {
    max-width: 500px;
    color: #fff;
    a:not(.btn) {
        color: #fff;
        position: relative;
        &:before {
            content: '';
            border-bottom: 1px dotted;
            position: relative;position: absolute;
            width: 100%;
            bottom: 3px;
        }
    }
}

.intro {
    background-color: #000;
    z-index: 0;
    height: 50%;
    // TODO: create retina fallback? Half height?
    position: relative;
    overflow: hidden;
    min-height: ($base * 20);
    &.image {
        height: 80%;
        // min-height: 560px;
        .home & {
            // position: fixed;
            height: 100%;
        }
        h1 {
            text-shadow: 0px 0px 50px rgba(0,0,0,.3);
        }
    }
    h1, h2, h3 {
        margin-top: 0;
        font-family: $gothic;
    }
    h1, h2 {
        font-size: 8vw;
        margin-bottom: 0;
        line-height: 0.8;
        letter-spacing: -2px;
        @media only screen and (max-width: 45em) {
            font-size: 15vw;
            margin-bottom: $base-mobile;
        }
        @media only screen and (min-width: 80em) {
            font-size: 100px;
        }
        .home & {
            margin-bottom: $padding;
            @media only screen and (max-width: 45em) {
                margin-bottom: $base-mobile;
            }
        }
    }
    h3 {
        background-color: rgba(0,0,0,0.75);
        margin-bottom: 0;
        padding: 5px 10px;
        float: left;
    }
    p.lead {
        font-size: 50px; 
        margin-bottom: $padding;
        @media only screen and (max-width: 30em) {
            margin-bottom: $base-mobile;
        }
    }
    .inner {
        // TODO: Make this fixed
        position: absolute;
        bottom: $padding;
        .home & { 
            width: 90%;
            left: 50%;
            text-align: center;
            top: ($padding * 6);
            bottom: auto;
            margin-left: -45%;
            @media screen and (max-width: 400px) {
                @include box-sizing(border-box);
                width: 90%;  
                left: 5%;
                right: 5%;
                bottom: 20%;
                top: auto;
            }
        }
    }
    a {
        color: #fff;
    }
}

// ABOUT PANEL 

.about {
    background-color: #111;
    color: #fff;
    img {
        width: 20%;
        float: left;
    }
    .columns {
        width: 78%;
        float: left;
    }
}

// PANELS

.panel {
    position: absolute;
    z-index: -1;
    opacity: 0.4;
    @include transform(rotate(25deg));
}
.p1 {
    background: #333;
    top: -30%;
    left:-10%;
    right: 50%;
    bottom: -10%;
}

.p2 {
    background: #333;
    top: -30%;
    right:-10%;
    left: 50%;
    bottom: -10%;
    @include transform(rotate(-25deg));
}

// NAV PANEL

.dk-panel {
    background-color: #000;
    padding: ($padding / 3) 0;
    img {
        max-width: 40px;
    }
}

header {
    color: #fff;
    font-family: $gothic;
    text-transform: uppercase;
}

.divider {
    background-color: #fff;
    // border-bottom: 1px solid rgba(0,0,0,0.75);
    padding: $padding 0;
    // height: 50px;
    overflow: hidden;
}

.blog-feed {
    position: relative;
    h3 {
        text-align: center;
        margin-bottom: 0;
        color: #444;
        // font-size: 300px;
    }
    h2 {
        margin:  0 0 $base 0;
        font-size: 3em;
        // text-align: center;
    }
}

.date {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: $size1;
    line-height: ($size1 * 1.333333333);
    color: #999;
    span {
        display: block;
        color: #444;
    }
    .blog-feed & {
        // color: #fff;
        margin-bottom: $base;
    }
}

.comments {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: $size1;
    line-height: ($size1 * 1.333333333);
    color: #999;
    a {
        display: block;
        color: #444;
    }
}

#disqus_thread {
    width: 60%;
    margin: 0 auto;
}

.posts {
    ul {
        margin: 0;
        padding: 0;
        // text-align: center;
    }
    li {
        list-style: none;
        padding: 0;
        background-color: #fff;
        // border-top: 2px solid rgba(0,0,0,0.35);

    }
    a {
        // color: #fff;
        // background-color: rgba(0,0,0,0.35);
        // &:hover {
        //     background-color: transparent;
        // }
    }
}
// COLOUR OVERRIDE
.wt {
    p, h2 {
        color: #fff;
    }
}

.date-container, .post-container {
    display: block;
    float: left;
}

.date-container {
    width: 20%;
}
.post-container {
    width: 75%;
    margin-left: 5%;
}

.home section[role="content"] {
    height: 100%;
}

#main-content {
    // border-bottom: ($base * 3) solid #444;
    min-height: 100%;
}

.breaker {
    width: 100%;    
    position: absolute;
    z-index: -1;
}

.content {
    position: relative;
    background-color: #fff;
    p {
        margin-top: 0;
    }
    ul {

    }
}

.content-body {
    padding: ($base * 3) 0;
    img {
        max-width: 100%;
    }
    // BODY LINKS
    a {
        position: relative;
        &:before {
            content: '';
            border-bottom: 1px dotted;
            position: relative;position: absolute;
            width: 100%;
            bottom: 3px;
        }
    }
    @media only screen and (max-width: 30em) {
        padding: ($base-mobile * 2) 0;
        ul {
            padding-left: 20px;
        }
    }
}

// HOME PAGE BLOG POSTS

.block-list {
    // display: -webkit-box;
    // overflow-x: scroll;
    li {
        // width: 33.3333%;
        position: -webkit-sticky;
        position: -moz-sticky;
        position: -ms-sticky;
        position: -o-sticky;
        position: sticky;
        top: 0;
        a {
            display: block;
            text-decoration: none;
            // height: 20%;
            min-height: 200px;
            padding: ($base * 2) 0;
            @include transition-property(translateX);
            @include transition-duration(0.2s);           
            &:hover {
                @include translateX(20px);
            }
        }
    }
    h2 {
        line-height: 1;

    }
}

// POST LAYOUT
// TODO: Need to style h3 or blockquote's in the post area to break outside container: width 140% etc.

// BUTTONS
.btn {
    font-family: $gothic;
    text-transform: uppercase;
    font-weight: 600;
    border: 2px solid #fff;
    border-radius: 5px;
    color: #fff;
    background-color: $accent;
    padding: ($padding / 2) $padding;
    @include transition-property(background-color);
    @include transition-duration(0.3s);
    .home & {
        display: block;
        background-color: transparent;
    }
    &:hover {
        background-color: darken($accent, 10);
    }
}

// PAGINATION

.pagination {
    width: 100%;
    border-top: 1px solid $lGray;
    border-bottom: 1px solid $lGray;
    .arrow-wrapper {
        width: 50%;
        float: left;
        text-align: center;
        @include box-sizing(border-box);
        overflow-x: hidden;

        &.prev {
            float: right;
            border-left: 1px solid $lGray;
            a:hover {
                p {
                    right: -20px;
                }
            }
        }
        &.next {
            a:hover {
                p {
                    left: -20px;
                }
            }
        }
        p {
            margin: 0;
            position: relative;
            @include transition-property(left, right);
            @include transition-duration(0.35s, 0.35s);
            &:first-child {
                margin-bottom: 0.5em;
            }
        }
        a{
            display: block;
            padding-top: $padding;
            padding-bottom: $padding;
            @include single-transition(background-color, 0.35s, ease-in-out, 0);
            background-color: #fff;
            text-decoration: none;
            &:hover {
                background-color: $lGray;
            }
        }
    }
}

// QUOTES

blockquote {
    margin: 0;
    padding: 0;
}

blockquote p {
    margin-right: -49%;
    margin-top: ($base * 2) !important;
    margin-bottom: ($base * 2);
    font-family: $gothic;
    font-weight: normal;
    font-size: 51px;
    line-height: 57px;
    text-transform: uppercase;
    color: #555;
    @media only screen
    and (max-width: 768px),
    (min-device-width: 768px)
    and (max-device-width: 1024px)
    and (orientation: portrait) {
        font-size: ($base * 2);
        line-height: ($base * 2);
        margin-right: -25%;
        margin-top: ($base);
        margin-bottom: ($base);
    }
        @media only screen and (max-width: 450px) {
            margin-right: 0;
    }
    @media only screen and (max-width: 45em) {
        font-size: ($base-mobile * 2);
    }
}
blockquote.alt p {
    margin-right: 0;
    margin-left: -49%;
    text-align: right;
    @media only screen
    and (max-width: 768px),
    (min-device-width: 768px)
    and (max-device-width: 1024px)
    and (orientation: portrait) {
        margin-left: -25%;
    }
    @media only screen and (max-width: 450px) {
        margin-left: 0;
    }
}

// SOCIAL ICONS

.icon {
    font-family: "SocialicoRegular";
    &:before {
      content: attr(data-icon);
      speak: none;
    }
}

.main-footer {
    background-color: #ddd;
    padding: ($base * 2) 0 0;
    text-align: center;
    @include transition-property(background-color);
    @include transition-duration(0.2s);
    @media only screen and (max-width: 30em) {
        padding-top: ($base-mobile * 2);
    }    
    // STICKY FOOTER
    .js & {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
    }
    p {
        font-size: ($base - 4);
    }
    .home & {
        position: static;
        padding: 0;
    }
    h4 {
        font-size: 27px;
    }
}

.bottom-footer {
    background-color: #444;
    padding: ($base * 2) 0 ($base * 2);
    @media only screen and (max-width: 30em) {
        padding-bottom: $base-mobile;
    }    
    color: #fff;
    a {
        color: #cecece;
    }
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen 
and (max-width: 48em),
(max-device-wdith: 768px)
and (max-device-width: 1024px)
and (orientation: portrait)  {
    body {
        font-size: ($base - 2);
        line-height: 1.5;
    } 
    .intro p.lead {
        font-size: 6vw;
    }
}
@media only screen and (max-width: 35em) {
    .pagination {
        .arrow-wrapper {
            width: 100%;
            float: none;
            &.prev {
                float: none;
                border-left: none;
                border-top: 1px solid $lGray;
            }
        }
    }
}

@media only screen and (max-width: 35em) {
    a.logo {
        // position: relative;
        // top: -45px;
        font-size: 40px;
        line-height: 18px;
    }
    aside.social-links {
        position: relative;
        margin-top: $base-mobile;
    }
    aside.social-links a {
        line-height: 1;
    }
    .date-container, .post-container {
        width: 100%;
        margin-left: 0;
        float: none;
    }
    .blog-feed h2 {
        margin-bottom: 0;
    }
    .block-list li a {
        min-height: 0;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

// Print styles.

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}