/* HTML5BP Stuff */
@import "normalize";
@import "compass/css3";
@import "grids";

/* ====== BASE TYPE ====== */

@include font-face("Mono Social Icons Font", font-files("MonoSocialIconsFont-1.10.woff", "MonoSocialIconsFont-1.10.ttf", "MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont"), "MonoSocialIconsFont-1.10.eot", normal, normal);

.symbol, a.symbol:before {
    font-family: 'Mono Social Icons Font';
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

a.symbol:before {
    content: attr(data-icon);
    margin-right: 0.3em;
    // font-size: 130%;
}


$gothic: "franklin-gothic-urw-cond-1","franklin-gothic-urw-cond-2", sans-serif;
$serif: "ff-tisa-web-pro-1","ff-tisa-web-pro-2", palatino, serif;

$base: 18px; 
$line-height: ($base * 1.55);

$size1: ($base - 6px);
$size2: ($base + ($base / 2));

$padding: ($base * 2);

@font-face {
    font-family: 'SocialicoRegular';
    src: url('socialico-webfont.eot');
    src: url('socialico-webfont.eot?#iefix') format('embedded-opentype'),
         url('socialico-webfont.woff') format('woff'),
         url('socialico-webfont.ttf') format('truetype'),
         url('socialico-webfont.svg#SocialicoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

// COLOURS

$lGray: #eee;
$link: #2C3D49;
$accent: #FF8324;
$orange: #e67e22;

$nav-colour: #f39c12;
$nav-colour-1: #d35400;
$nav-colour-2: $orange;

// Circle Nav
@import "c-nav";

//  HELPERS

// H5BP STUFF

/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html,body {
    height: 100%;
}
body {
    font-family: $serif;
    font-size: $base;
    line-height: $line-height;
	// -webkit-font-smoothing: antialiased;
    // &.home {
    //     padding-top: 100px;
    // }
}

.blur {
    @include filter(blur(5px));
}

/* HEADERS */

// TYPEKIT FADES
.wf-loading {
    h1,h2,h3,p,li,.head {
      opacity: 0;
    }
}
h1,h2,h3,p,li,.head {
  opacity: 1;
  visibility: visible;
  @include transition(opacity 0.24s ease-in-out);
}

h1, h2, h3, h4, h5, h6, h2.post-title, p.title {
    font-family: $gothic;    
    text-transform: uppercase;    
	text-rendering: optimizeLegibility;
	-moz-font-feature-settings: "kern=1"; 
	-ms-font-feature-settings: "kern" 1;
    margin-top: 0;
}

p.title {
    font-size: $size2;
}

a, a:visited {
    color: $link;
    text-decoration: none;
}

.head {
    position: relative;
    width: 100%;
    text-align: center;
    padding-bottom: 16px;
    background-color: #444;
    .home & {
        background-color: rgba(255,255,255,0.9);
        position: absolute;
        top: 0;
        z-index: 1;
    }
    .blog-post & {
        background-color: transparent;
        position: absolute;
        top: 0;
        z-index: 1;        
    }
    span {
        font-family: $serif;
        font-size: 0.3em;
        letter-spacing: 2px;
        display: block;
        margin-top: -6px;
    }
    a {
        color: #fff;
        text-decoration: none;
        font-size: 3em;
        .home & {
            color: #000;
        }
    }
}

aside.social-links {
    margin: 0;
    top: 0;
    right: 0;
    left: auto;
    li {
        display: inline;
    }
    span {
        display: none;
    }
    a{
        opacity: 0.35;
        font-size: 2em;
        &:hover {
            opacity: 1;
        }
    }
    &.social-share {
        position: relative;
        text-align: center;
        width: 100%;
        font-size: 3em;
        margin: 0;
        padding: 0;
        ul {
            padding: 0;
        }
        a {
            font-size: 1.25em;
            &:hover {
                color: #fff;
            }
        }
    }
}

.intro {
    background-color: #000;
    z-index: 0;
    height: 50vh;
    // TODO: create retina fallback? Half height?
    position: relative;
    min-height: ($base * 20);
    &.image {
        height: 98vh;
        min-height: ($base * 30);
        // TODO: create retina fallback? Half height?
        h1 {
            text-shadow: 0px 0px 50px rgba(0,0,0,.3);
        }
    }
    h1, h2, h3 {
        margin-top: 0;
        font-family: $gothic;
    }
    h1, h2 {
        font-size: 8vw;
        margin-bottom: 0;
        line-height: 0.8;
        letter-spacing: -2px;

        .home & {
            margin-bottom: $padding;
        }
    }
    h3 {
        background-color: rgba(0,0,0,0.75);
        margin-bottom: 0;
        padding: 5px 10px;
        float: left;
    }
    .inner {
        // TODO: Make this fixed
        position: absolute;
        bottom: $padding;
        .home & { 
            width: 50%;;
            top: ($padding * 6);
            bottom: auto;
        }
    }
    a {
        color: $accent;
    }
}

header {
    color: #fff;
    font-family: $gothic;
    text-transform: uppercase;
}

.divider {
    background-color: #fff;
    // border-bottom: 1px solid rgba(0,0,0,0.75);
    padding: $padding 0;
}

.blog-feed {
    position: relative;
    h2 {
        margin:  0 0 $base 0;
        // text-align: center;
    }
}

.date {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: $size1;
    line-height: ($size1 * 1.333333333);
    color: #999;
    span {
        display: block;
        color: #444;
    }
    .blog-feed & {
        // color: #fff;
        margin-bottom: $base;
    }
}

.comments {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: $size1;
    line-height: ($size1 * 1.333333333);
    color: #999;
    a {
        display: block;
        color: #444;
    }
}

.posts {
    ul {
        margin: 0;
        padding: 0;
        // text-align: center;
    }
    li {
        list-style: none;
        padding: 0;
        background-color: #fff;
        // border-top: 2px solid rgba(0,0,0,0.35);

    }
    a {
        // color: #fff;
        // background-color: rgba(0,0,0,0.35);
        // &:hover {
        //     background-color: transparent;
        // }
    }
}
// COLOUR OVERRIDE
.wt {
    p, h2 {
        color: #fff;
    }
}

.date-container, .post-container {
    display: block;
    float: left;
}

.date-container {
    width: 20%;
}
.post-container {
    width: 75%;
    margin-left: 5%;
}

#main-content {
    // border-bottom: ($base * 3) solid #444;
    min-height: 100%;
}

.breaker {
    width: 100%;    
    position: absolute;
    z-index: -1;
}

.content {
    position: relative;
    background-color: #fff;
    p {
        margin-top: 0;
    }
}

.content-body {
    padding-top: ($base * 3);
    padding-bottom: ($base * 3);
}

// HOME PAGE BLOG POSTS

.block-list {
    // display: -webkit-box;
    // overflow-x: scroll;
    li {
        // width: 33.3333%;
        position: -webkit-sticky;
        position: -moz-sticky;
        position: -ms-sticky;
        position: -o-sticky;
        position: sticky;
        top: 15px;
        a {
            display: block;
            text-decoration: none;
            height: 20vh;
            padding: ($base * 2) 0;
        }
    }
}

// POST LAYOUT
// TODO: Need to style h3 or blockquote's in the post area to break outside container: width 140% etc.


// PAGINATION

.pagination {
    width: 100%;
    border-top: 1px solid $lGray;
    border-bottom: 1px solid $lGray;
    .arrow-wrapper {
        width: 50%;
        float: left;
        text-align: center;
        @include box-sizing(border-box);
        overflow-x: hidden;

        &.prev {
            float: right;
            border-left: 1px solid $lGray;
            a:hover {
                p {
                    right: -20px;
                }
            }
        }
        &.next {
            a:hover {
                p {
                    left: -20px;
                }
            }
        }
        p {
            margin: 0;
            position: relative;
            @include transition-property(left, right);
            @include transition-duration(0.35s, 0.35s);
        }
        a{
            display: block;
            padding-top: $padding;
            padding-bottom: $padding;
            @include single-transition(background-color, 0.35s, ease-in-out, 0);
            background-color: #fff;
            text-decoration: none;
            &:hover {
                background-color: $lGray;
            }
        }
    }
}

// QUOTES

blockquote {
    margin: 0;
    padding: 0;
}

blockquote p {
    margin-right: -49%;
    margin-top: .5em;
    margin-bottom: .5em;
    font-family: $gothic;
    font-weight: normal;
    font-size: 51px;
    line-height: 57px;
    text-transform: uppercase;
}
blockquote.alt p {
    margin-right: 0;
    margin-left: -49%;
    text-align: right;
}

// SOCIAL ICONS

.icon {
    font-family: "SocialicoRegular";
    &:before {
      content: attr(data-icon);
      speak: none;
    }
}

.main-footer {
    background-color: #ddd;
    padding: ($base * 3) 0;
    padding: ($base * 2) 0 0;
    text-align: center;
    @include transition-property(background-color);
    @include transition-duration(0.2s);
    // STICKY FOOTER
    .js & {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
    }
    p {
        font-size: ($base - 4);
    }
}

.bottom-footer {
    background-color: #444;
    padding: ($base) 0 ($base * 3);
    color: #fff;
    a {
        color: #999;
    }
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 35em) {
    .pagination {
        .arrow-wrapper {
            width: 100%;
            float: none;
            &.prev {
                float: none;
                border-left: none;
                border-top: 1px solid $lGray;
            }
        }
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for viewports that meet the condition */
    .intro {
        &.image {
            height: 100%;
        }
    }
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

// Print styles.

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}