/* HTML5BP Stuff */
@import "normalize.less";

/* ====== BASE TYPE ====== */

@base: 16;
@leading: 1.5;
@basepx: (@base * 1px);

.line-height(@x: @leading) {
	line-height: (@base * @x * 1px);
	line-height: (@base / @base * @x *1rem);
}

.font-size(@f: 1) {
	font-size: (@base * @f * 1px);
	font-size: (@base / @base * @f * 1rem);
}

.margin-bottom(@m: @leading) {
	margin-bottom: (@base * @m * 1px);
	margin-bottom: (@base / @base * @m * 1rem);
}

.margin-top(@m: @leading) {
	margin-top: (@base * @m * 1px);
	margin-top: (@base / @base * @m * 1rem);
}

@font-color: #444;
@link-color: #F5DEB3;

@font-face {
    font-family: 'SocialicoRegular';
    src: url('socialico-webfont.eot');
    src: url('socialico-webfont.eot?#iefix') format('embedded-opentype'),
         url('socialico-webfont.woff') format('woff'),
         url('socialico-webfont.ttf') format('truetype'),
         url('socialico-webfont.svg#SocialicoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html {
    font-size: @basepx;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {

}

// H5BP STUFF

/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.twitter {
    background-color: #2C77BA;
}

.dribbble {
    background-color: #EA4C89;
}

.linkedin {
    background-color: #006699;
}

body {
    font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	-webkit-font-smoothing: antialiased;

    margin:0 auto;
    max-width:1140px;
	.line-height;
	color: @font-color;
}

/* HEADERS */

h1, h2, h3, h4, h5, h6 {
	text-rendering: optimizeLegibility;
	-moz-font-feature-settings: "kern=1"; 
	-ms-font-feature-settings: "kern" 1;
}

h3, h4, h5, h6 {
	.margin-bottom;
}

h1 {
	font-size: 2.75em;
	.line-height(2);
		span {font-size: 1rem;}
}

h2 {
	font-size: 1.75em;
	.line-height;
}

h3 {
	font-size: 1.25em;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

h4 {
	font-size: 1.25em;
}

h5, h6 {
	font-size: 1.125em;
}

p {
	.font-size;
	.margin-bottom;
}

p + p {
	text-indent: 1em;
}

a {
    color: @link-color;
}

.intro {

}

header {
    /*-webkit-transition: -webkit-transform 2s ease-in-out;     
    perspective: 800px;
    perspective-origin: 50% 100px;  */

}

/*header:hover {
    -webkit-transform:rotateX(180deg);
}*/

.info {
    font-weight: 100;
    color: wheat;
}

.bigtext-line1 {
    margin-bottom: 20px;
}

.links {
    font-weight: 200;   
    margin-top: 40px;
}

.links p {
    margin-bottom: 40px;
}

.links ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.social {
    margin-top: 50px;
}

.links li {
    display: inline-block;
}

.links li a {
    position: relative;
    display: block;
    text-decoration: none;
    color: transparent;
    background-color: rgba(0,0,0,0.5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: rgba(255,255,255,0.1) 0px 2px 1px;
    margin: 0 10px;
}

.no-backgroundcliptext .links li a {
    background-color: transparent;
    color: transparent;
    color: rgba(0, 0, 0, 0.5); 
    filter: ~"progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000,endColorstr=#7F000000)";
    zoom: 1;
}

.links li a span {
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -60px;
    padding: 30px;  
    font-size: 12px;
    line-height: 1.3em;
    border-radius: 50%;
    position: absolute;
    background-color: transparent;
    background-color: rgba(0, 0, 0, 0.75); 
    filter: ~"progid:DXImageTransform.Microsoft.gradient(startColorstr=#BF000000,endColorstr=#BF000000)";
    zoom: 1;
    color: wheat;
    font-weight: 200;
    opacity: 0;
    -webkit-transform: scale(0.2);
    -moz-transform: scale(0.2);
    -o-transform: scale(0.2);
    -ms-transform: scale(0.2);
    transform: scale(0.2);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.links a:hover {
    background-color: rgba(0,0,0,0.8);
    cursor: pointer;
}

.links li a:hover span {
    opacity: 1;
    bottom: 70px;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.icon {
}

.icon:before {
    content: attr(data-icon);
    font: 4em 'SocialicoRegular';
}

.block-list {
    list-style: none;
    padding-left: 0;
}

// /* DESIGNER / DEVELOPER INTRO */

// .intro h2 {
// 	width: 500px;
// 	position: relative;
// 	text-transform: uppercase;
// 	font-size: 90px;
// 	line-height: 120px;
// 	text-rendering: optimizeLegibility;
// }

// h2 b {
// 	-webkit-transform: rotate(-4deg);
// 	position: absolute;
// 	overflow: hidden;
// }

// h2 b.developer {
// 	top: 118px;
// }

// h2 b i {
// 	font-style: normal;
// 	display: inline-block;
// }

// h2 b.designer i {
// 	-webkit-transform-origin: left top;
// 	-webkit-transform: translateY(0.2em) rotate(4deg);
// 	-webkit-transform-origin-x: 0%;
// 	-webkit-transform-origin-y: 0%;
// }

// h2 b.developer i {
// 	-webkit-transform-origin: right top;
// 	-webkit-transform: translateY(-0.2em) rotate(4deg);
// 	-webkit-transform-origin-x: 100%;
// 	-webkit-transform-origin-y: 0%;
// }

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
    .links li {
        display: block;
        text-align: left;
        clear: both;
    }
    
    .links li a {
        float: left;
        width: 100%;
        margin: 0 0 10px;
    }
    
    .links li a span {
        position: relative;
        opacity: 1;
        display: block;
        float: right;
        width: auto;
        background-color: transparent;
        margin: 0;
        padding: 0 0 0 10px;
        vertical-align: middle;
        line-height: 3;
        font-size: 15px;
    }
    
    .links li a:hover span{
        bottom: 0;  
    }
    
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

// Print styles.

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}