/* HTML5BP Stuff */
@import "reset.less";

/* NEED TO CHANGE TO 18px For base.*/

@base: 18;
@leading: 1.5;
@basepx: (@base * 1px);


.line-height(@x: @leading) {
	line-height: (@base * @x * 1px);
	line-height: (@base / @base * @x *1rem);
}

.font-size(@f: 1) {
	font-size: (@base * @f * 1px);
	font-size: (@base / @base * @f * 1rem);
}

.margin-bottom(@m: @leading) {
	margin-bottom: (@base * @m * 1px);
	margin-bottom: (@base / @base * @m * 1rem);
}

html {
	font-size: (@basepx);
}

body {
	-webkit-font-smoothing: antialiased;
	padding: 0;
	font-family: Constantia, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
	.line-height;
	background-color: #f7f7f7;
	color: #444;
}

/* HEADERS */

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	text-rendering: optimizeLegibility;
	-moz-font-feature-settings: "kern=1"; 
	-ms-font-feature-settings: "kern" 1;
}

h1, h2 {
	letter-spacing: -0.05em;
	.margin-bottom(2);
	width: 100%;
}

h3, h4, h5, h6, nav ul {
	.margin-bottom;
}

h1 {
	font-size: 2.75em;
	.line-height(2);
	span {font-size: 1rem;}
	
}

h2 {
	font-size: 1.75em;
	.line-height;
}

h3 {
	font-size: 1.25em;
}

h4 {
	font-size: 1.25em;
}

h5, h6 {
	font-size: 1.125em;
}

p {
	.font-size;
	.margin-bottom;
}

p + p {
	text-indent: 1em;
}

.published {
	text-transform: uppercase;
	font-size: 0.75em;
	margin-bottom: @basepx;
}

nav {
	font-family: "etica-1","etica-2";
	font-weight: 700;
	text-transform: uppercase;
		h1 {line-height: @basepx; .font-size(1.5);}
		a:link, a:visited {text-decoration: none;}
}

time {
	font-weight: 400;
}

/* STRUCTURE */

nav {
text-align: right;
	height: 100%;
	width: 17.222222222222%;
	padding: 5% 2.5% 2.5%;
	background-color: grey;
	position: fixed;
}

section[role=content]{
	position: relative;
	left: 22.222222222222%;
	width: 77.777777777778%;
	/*
	TRYING OUT COLUMNS FOR WIDER SCREENS
	header {width: 100%;}
	section {-moz-column-count: 2;
		-moz-column-gap: @leading;
		-webkit-column-count: 2;
		-webkit-column-gap: @leading;
		column-count: 2;
		column-gap: @leading;}*/
}

header.intro {
	padding: 15% 0;
}

@media only screen and (max-width: 480px) {
	
	nav, section[role=content] {
		width: 90%;
		position: relative;
		left: 0;
		padding: 5%;
	}
}

@media only screen and (max-width: 320px) {
	html {
		font-size: 16px;
	}
}