<button class="cn-button" id="cn-button">Menu</button>
<div class="cn-wrapper" id="cn-wrapper">
    <ul>
      <li><a href="#" data-hovertext="View my CV"><span class="icon-file-text"></span></a></li>
      <li><a href="#" data-hovertext="Check out my photo's"><span class="icon-picture"></span></a></li>
      <li><a href="/index.html" data-hovertext="Back to the home…"><span class="icon-home"></span></a></li>
      <li><a href="/blog.html" data-hovertext="View my blog"><span class="icon-rss"></span></a></li>
      <li><a href="#" data-hovertext="Contact Me"><span class="icon-envelope-alt"></span></a></li>
     </ul>
</div>
<div id="menu-help"></div>
<div id="cn-overlay" class="cn-overlay"></div>
