<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title> {% if page.title %} {{ page.title }} | {% endif %} Chris Mousdale :: Designer &amp; Developer</title>
	<meta name="description" content="">
	<meta name="author" content="Chris Mousdale">
	<meta name="publisher" content="Chris Mousdale"/>
	<meta name="copyright" content="Chris Mousdale"/>
	<meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>

<nav role="navigation">
  <ul>	
    {% for t in page.topnav %}
        <li>
        	<a href="{{ t.href }}" {% if t.title %} title="{{ t.title }}"{% endif %}
        	class="box{% if t.text == navTitle %} active{% endif %}"><span class="glossy" />{{ t.text }}</a>
        </li>
    {% endfor %}
  </ul>
</nav>