{% for t in page.topnav %}
	{% if t.text == page.title %}{% assign navTitle = page.title %}{% endif %}
{% endfor %}

<body>

<nav role="navigation">
	<h1><a href="/" rel="author" title="Chris Mousdale home page">Chris Mousdale<br /><span>(Chrisedmo)</span></a></h1>
	<ul>	
    {% for t in page.topnav %}
        <li>
        	<a href="{{ t.href }}" {% if t.title %} title="{{ t.title }}"{% endif %}{% if t.text == navTitle %}
        	class="active{% endif %}">{{ t.text }}</a>
        </li>
    {% endfor %}
	</ul>
</nav>