<aside class="social-links social-share">
	<h4>Share this:</h4>
	<ul>
		<li>
			<a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}&t={{page.title}}" title="Share this post on Facebook" class="symbol" data-icon="&#xe227;"><span>Share this on Facebook</span></a>
		</li>
		<li>
			<a href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.url }}&text={{ page.title }}&via=chrisedmo" title="Share this post on Twitter" class="symbol" data-icon="&#xe286;"><span>Share this on Twitter</span></a>
		</li>
		<li>
			<a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" title="Share this post on Google+" class="symbol" data-icon="&#xe239;"><span>Share this on Google+</span></a>
		</li>
	</ul>
</aside>