<section class="social-links">
	<a href="http://uk.linkedin.com/in/chrismousdale" title="View Chris Mousdale's Linkedin Profile"><span aria-hidden="true" class="icon" data-icon="i"></span>View my profile on Linkedin</a>
	<a href="https://twitter.com/chrisedmo" title="View Chris Mousdale's Twitter feed"><span aria-hidden="true" class="icon" data-icon="t"></span>Follow me on Twitter</a>
	<a href="http://dribbble.com/chrisedmo" title="View Chris Mousdale's work on Dribbble"><span aria-hidden="true" class="icon" data-icon="d"></span>View my work on Dribbble</a>
</section>