<aside class="social-links">
	<ul>
		<li>
			<a href="http://uk.linkedin.com/in/chrismousdale" title="View Chris Mousdale's Linkedin Profile" class="symbol" data-icon="&#xe252;"><span>View my profile on Linkedin</span></a>
		</li>
		<li>
			<a href="https://twitter.com/chrisedmo" title="View Chris Mousdale's Twitter feed" class="symbol" data-icon="&#xe286;"><span>Follow me on Twitter</span></a>
		</li>
		<li>
			<a href="http://dribbble.com/chrisedmo" title="View Chris Mousdale's work on Dribbble" class="symbol" data-icon="&#xe221;"><span>View my work on Dribbble</span></a>
		</li>
	</ul>
</aside>