{% include head.html %}
<body class="blog-post {{ page.page-class }}" itemscope itemType="http://schema.org/BlogPosting">

	<header {% if page.image %} class="blog-post intro image" style="background: url('{{ page.image }}') no-repeat center; background-size: cover;">{% else %} class="blog-post intro" style="background-color: #{{ page.bg }};">{% endif %}
		{% if page.image %}<meta itemprop="image" content="{{ page.image }}"/>{% endif %}
		<div class="container">
			<div class="inner">
				<h1 itemprop="name">{{page.title}}</h1>
			</div>
		</div>
	</header>
	<div class="content" role="content">
		<article class="content-body">
			<aside>
				<p class="date">
					<meta itemprop="datePublished" content="{{page.date | date:"%Y-%m-%d"}}"/>
					<time datetime="{{page.date | date:"%Y-%m-%d"}}">Posted on: <span>{{ page.date | date_to_long_string }}</span></time>
				</p>
				{% if page.comments %}
					<p class="comments">
						Comments: <a href="{{ post.url }}#disqus_thread" data-disqus-identifier="{{ post.path | split:'/' | last | cgi_escape }}" title="View comments for this post"></a>
					</p>
				{% endif %}
			</aside>
			<div itemprop="articleBody">{{ content }}</div>
		</article>

		<nav class="pagination clearfix" role="navigation">
			<div class="arrow-wrapper next">
			{% if page.next.url %}
				<a href="{{page.next.url}}" title="Next Post: {{page.next.title}}">
					<p class="date">Next Post:</p>
				    <p class="title"> &laquo; {{page.next.title}}</p>
				</a>
			{% endif %}
			</div>
			<div class="arrow-wrapper prev">
			{% if page.previous.url %}
				<a href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}">
					<p class="date">Previous Post:</p>
				    <p class="title">{{page.previous.title}} &raquo; </p>
				</a>
			{% endif %}
			</div>
		</nav>
	</div>

	<div class="breaker"></div>
	{% include footer.html %}

<script id="mobileNav" type="text/template">
	<div class="container">
		<ul>
		{% raw %}
			{{#jsMenu}}
				<li>
					<a href="{{href}}" title="{{title}}"><h3>{{title}}</h3></a>
				</li>
			{{/jsMenu}}
		{% endraw %}
		</ul>
	</div>
</script>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="/js/min/mustache.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.7.2.min.js"><\/script>')</script>
<script src="/js/min/cm.min.js"></script>
<script>
	$(window).bind("load", function(){
		$('.breaker').css('height', $('#main-footer').outerHeight()+'px');
	});
</script>
<script>
    var _gaq=[['_setAccount','{{ site.analytics }}'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
</script>

</body>
</html>
