<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie10 lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie10 lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js lt-ie10" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<title> {% if page.title %} {{ page.title }} | {% endif %} Chris Mousdale :: Designer &amp; Developer</title>
	{% if page.description %}
	<meta name="description" content="{{ page.description }}">
	<meta name="og:description" content="{{ page.description }}">
	{% else %}
	<meta name="description" content="{{ site.description }}">
	<meta name="og:description" content="{{ site.description }}">
	{% endif %}
	{% if page.categories %}
	<meta name="keywords" content="{{page.categories | join: ','}}" />
	{% else %}
	<meta name="keywords" content="{{site.keywords | join: ','}}" />
	{% endif %}
	<meta property="og:title" content="{{page.title}}" />
	{% if page.image %}
	<meta property="og:image" content="{{page.image}}" />
	{% endif %}

	<meta name="author" content="Chris Mousdale">
	<meta name="publisher" content="Chris Mousdale"/>
	<meta name="copyright" content="Chris Mousdale"/>
	<meta name="HandheldFriendly" content="True">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta http-equiv="cleartype" content="on">	
	<!-- Prefetch DNS for external assets (Twitter widgets etc). -->
	<link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link rel="dns-prefetch" href="//use.typekit.net/">
    <link rel="dns-prefetch" href="//platform.twitter.com">
    <link rel="dns-prefetch" href="//www.google-analytics.com">
    <link rel="dns-prefetch" href="//p.twitter.com">
    <link rel="dns-prefetch" href="//cdn.api.twitter.com">
    <link rel="dns-prefetch" href="//mousdale.disqus.com">
    <!-- TYPEKIT I LOVE YOU -->
	<script type="text/javascript">
	  (function() {
	    var config = {
	      kitId: 'ezu6pyt',
	      scriptTimeout: 3000
	    };
	    var h=document.getElementsByTagName("html")[0];h.className+=" wf-loading";var t=setTimeout(function(){h.className=h.className.replace(/(\s|^)wf-loading(\s|$)/g," ");h.className+=" wf-inactive"},config.scriptTimeout);var tk=document.createElement("script"),d=false;tk.src='//use.typekit.net/'+config.kitId+'.js';tk.type="text/javascript";tk.async="true";tk.onload=tk.onreadystatechange=function(){var a=this.readyState;if(d||a&&a!="complete"&&a!="loaded")return;d=true;clearTimeout(t);try{Typekit.load(config)}catch(b){}};var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(tk,s)
	  })();
	</script>
	<link rel="stylesheet" href="/css/main.css">
	<script src="/js/modernizr.custom.js"></script>
</head>
<body class="blog-post {{ page.page-class }}">
<div id="b-container">
	
	{% include header-b.html %}	
	<section role="content" id="main-content">
	
	<header {% if page.image %} class="blog-post intro image" style="background: url('{{ page.image }}') no-repeat center; background-size: cover;">{% else %} class="blog-post intro" style="background-color: #{{ page.bg }};">{% endif %}
		<div class="container">
			<div class="inner">
				<h1>{{page.title}}</h1>
			</div>
			<!-- {% if page.image %}
				<img src="{{ page.image }}" alt="">
			{% endif %} -->
		</div>
	</header>
	<div class="content">
		<article class="content-body">
			<aside>
				<p class="date">
					<time datetime="{{page.date | date:"%Y-%m-%d"}}">Posted on: <span>{{ page.date | date_to_long_string }}</span></time>
				</p>
				{% if page.comments %}
				<p class="comments">
					Comments: <a href="#disqus_thread">25 comments</a>
				</p>
				{% endif %}
				{% include profile.md %}
			</aside>
			{{ content }}
		</article>
		
		<nav class="pagination clearfix" role="navigation">
			<div class="arrow-wrapper next"> 
			{% if page.next.url %} 
				<a href="{{page.next.url}}" title="Next Post: {{page.next.title}}">
					<p class="date">Next Post:</p>
				    <p class="title"> &laquo; {{page.next.title}}</p>
				</a> 
			{% endif %} 
			</div> 
			<div class="arrow-wrapper prev"> 
			{% if page.previous.url %} 
				<a href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}">
					<p class="date">Previous Post:</p>
				    <p class="title">{{page.previous.title}} &raquo; </p>
				</a> 
			{% endif %} 
			</div> 
		</nav>
	</div>
	
	</section>
	<div class="breaker"></div>
	{% include footer.html %}
</div>
{% include circle-nav.html %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.7.2.min.js"><\/script>')</script>
<script src="/js/cm.min.js"></script>
<script>
	$(window).bind("load", function(){
		$('.breaker').css('height', $('#main-footer').outerHeight()+'px');
	});
</script>
<script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
</script>

</body>
</html>