<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title> {% if page.title %} {{ page.title }} | {% endif %} Chris Mousdale :: Designer &amp; Developer</title>
</head>
<body>
<nav role="navigation">
	<ul>
		<li>
			<a href="#">About me</a>
			<a href="#">Portfolio</a>
			<a href="#">Thoughts</a>
			<a href="/photography">Photography</a>
		</li>
	</ul>
</nav>

	<h1>{{ page.title }}</h1>
	
	{{ content }}
	
<footer>
  <p>&copy; Chris Mousdale 2011 | All Rights Reserved.</p>
</footer>	
</body>
</html>