---
# -*- html -*- mode
topnav:
  - text: About
    href: /about
  - text: Portfolio
    href: /portfolio
  - text: Thoughts
    href: /thoughts
  - text: Photography
    href: /photography
---

{% include header.html %}

{{ page.title }}
	
{{ content }}

<section>
	<article id="twitter-feed">
	</article>
</section>	
	
<section class="social-links">
	<a href="http://uk.linkedin.com/in/chrismousdale" title="View Chris Mousdale's Linkedin Profile">View my profile on <span>Linkedin</span></a>
	<a href="https://twitter.com/chrisedmo" title="View Chris Mousdale's Twitter feed">Follow me on <span>Twitter</span></a>
	<a href="http://dribbble.com/chrisedmo" title="View Chris Mousdale's work on Dribbble">View my work on <span>Dribbble</span></a>
</section>
	
{% include footer.html %}