---
# -*- html -*- mode
topnav:
  - text: About
    href: /about
  - text: Portfolio
    href: /portfolio
  - text: Thoughts
    href: /thoughts
  - text: Photography
    href: /photography
---

<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title> {% if page.title %} {{ page.title }} | {% endif %} Chris Mousdale :: Designer &amp; Developer</title>
	<meta name="description" content="">
	<meta name="author" content="Chris Mousdale">
	<meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>

<nav role="navigation">
  <ul>	
    {% for t in page.topnav %}
        <li>
        	<a href="{{ t.href }}" {% if t.title %} title="{{ t.title }}"{% endif %}
        	class="box{% if t.text == navTitle %} active{% endif %}"><span class="glossy" />{{ t.text }}</a>
        </li>
    {% endfor %}
  </ul>
</nav>

	{{ page.title }}
	
	{{ content }}

<section>
	<article id="twitter-feed">
	</article>
</section>	
	
<section class="social-links">
	<article>
	<a href="http://uk.linkedin.com/in/chrismousdale"><span><img src="http://www.linkedin.com/img/webpromo/btn_in_20x15.png" width="20" height="15" alt="View Chris  Mousdale's LinkedIn profile">View Chris  Mousdale's profile</span></a>
	<a href="https://twitter.com/chrisedmo" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @chrisedmo</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</article>
</section>
	
{{ include footer.html }}	
</body>
</html>