---
layout: base
---

<h1>{{ page.title }}</h1>

{{ content }}

<section>
	<h4>What I'm tweeting about:</h4>
	<ul id="twitter_update_list"><li>Twitter feed loading</li></ul>
</section>	
	
<section class="social-links">
	<a href="http://uk.linkedin.com/in/chrismousdale" title="View Chris Mousdale's Linkedin Profile">View my profile on <span>Linkedin</span></a>
	<a href="https://twitter.com/chrisedmo" title="View Chris Mousdale's Twitter feed">Follow me on <span>Twitter</span></a>
	<a href="http://dribbble.com/chrisedmo" title="View Chris Mousdale's work on Dribbble">View my work on <span>Dribbble</span></a>
</section>