---
layout: base
---

<article class="blog-post">
<header class="intro">
	<h1>{{page.title}}</h1>
	<p class="published"><time datetime="{{page.date | date:"%Y-%m-%d"}}">Posted on: {{ page.date | date_to_long_string }}</time></p>
</header>

<section>{{ content }}</section>
</article>

<div id="page-nav"> 
    <div class="prev"> 
    {% if page.previous.url %} 
        <a href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}">&laquo; {{page.previous.title}}</a> 
    {% endif %} 
    </div> 
    <div class="next"> 
    {% if page.next.url %} 
        <a href="{{page.next.url}}" title="Next Post: {{page.next.title}}">{{page.next.title}} &raquo; </a> 
    {% endif %} 
	</div> 
</div> 

{% comment %}
<!-- {% include social.html %} -->
{% endcomment %}