---
layout: base
---

<section class="blog-post">
	<header class="intro">
		<div class="container">
			<h1>{{page.title}}</h1>
			<p class="published">
				<time datetime="{{page.date | date:"%Y-%m-%d"}}">Posted on: {{ page.date | date_to_long_string }}</time>
			</p>
		</div>
	</header>
</section>
<article class="content-body">{{ content }}</article>

<div class="arrow-wrapper prev"> 
{% if page.previous.url %} 
    <a href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}">&laquo; {{page.previous.title}}</a> 
{% endif %} 
</div> 
<div class="arrow-wrapper next"> 
{% if page.next.url %} 
    <a href="{{page.next.url}}" title="Next Post: {{page.next.title}}">{{page.next.title}} &raquo; </a> 
{% endif %} 
</div> 
