---
layout: base
---

<header class="blog-post intro {% if page.image %}image{% endif %}">
	<div class="container">
		<h1>{{page.title}}</h1>
		{% if page.image %}
			<img src="{{ page.image }}" alt="">
		{% endif %}
	</div>
</header>
<article class="content-body">
	<p class="author">
		<time datetime="{{page.date | date:"%Y-%m-%d"}}">Posted on: {{ page.date | date_to_long_string }}</time>
	</p>
	{{ content }}
</article>

<div class="arrow-wrapper prev"> 
{% if page.previous.url %} 
	<p class="author">Previous Post:</p>
    <a href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}">&laquo; {{page.previous.title}}</a> 
{% endif %} 
</div> 
<div class="arrow-wrapper next"> 
{% if page.next.url %} 
	<p class="author">Next Post:</p>
    <a href="{{page.next.url}}" title="Next Post: {{page.next.title}}">{{page.next.title}} &raquo; </a> 
{% endif %} 
</div> 
